#claim_check_container {
    display:inline-block;
    position: relative;
}


@media(min-width: 700px) {
    .solicitation_info {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .solicitation_info h3,  p {
        margin: 0;
    }
    .solicitation_info h3 {
        margin-right: 13px;
    }

    .form-control {
        border-radius: 10px;
    }
    
    #items_n_image,
    #solicitation_form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row-reverse;
    }

    #itemsolicitation_form {
        display: flex;
        flex-direction: column;
    }

    #form_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #form_item input {
        width: 95%;
    }

    #claim_check_container h3 {
        margin-top: 0;
    }
}