#img_preview_container {
    display:inline-block;
    position: relative;
    height: 520px;
    width: auto;
}


@media(min-width: 700px) {
    #div_id_name {
        width: 40rem;
    }

    .form-control,
    #div_id_name div #id_name {
        border-radius: 10px;
    }

    
    #items_n_image,
    #solicitation_form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #itemsolicitation_form {
        display: flex;
        flex-direction: column;
    }

    #form_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #form_item input {
        width: 95%;
    }
}