{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h2>Solicitações em análise</h2>
    {%if solicitations_list %}
    <table>
        <thead>
        <tr>
            <td>{% translate 'Name' %}</td>
            <td>{% translate 'Price' %}</td>
            <td>{% translate 'Creation date' %}</td>
            <td>{% translate 'Last modification' %}</td>
            <td>{% translate 'State' %}</td>
        </tr>
        </thead>
        <tbody>
        {% for solicitation in solicitations_list %}
        <tr>
            <td> <a href="{% url solicitation_page solicitation.id %}">{{ solicitation.name |title }}</a> </td>
            <td> R$ {{ solicitation.price }}</td>
            <td> {{ solicitation.created | date:"d-m-Y"}}</td>
            <td> {{ solicitation.updated | date:"d-m-Y"}}</td>
            <td> {{ solicitation.get_state }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>{% translate 'There are not solicitations in analysis' %}</p>
    {% endif %}
{% endblock content %}