{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block custom_extra_head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'refund/css/analyse_solicitation.css'%}">
  <script src="{% static 'refund/js/zoom-master/jquery.zoom.js' %}"></script>
  <script src="{% static 'refund/js/analyse_solicitation.js' %}"></script>
{% endblock custom_extra_head %}

{% block content %}
  <form action='/refund/analyse_solicitation/{{solicitation.id}}' method='post'>
  {% csrf_token %}
    <div class="solicitation_info">
      <h3>{% trans 'Name' %}</h3>
      <p>{{ solicitation.name|title }}</p>
    </div>
    
    <div id='items_n_image'>
      <div id='claim_check_container'>
          <img src="{{solicitation.claim_check.url}}"
            alt="nota fiscal" width='auto' height='520'
            id='claim_check'
          />
      </div>
      <div id="itemsolicitation_form">
      {{ formset.management_form }}
          {% for form in formset %}
              <div id="form_item">
                  {{ form | crispy }}
              </div>
          {% endfor %}
      </div>
    </div>

      
    <button class="btn btn-primary">Atualizar</button>
  </form>

{% endblock content %}