{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'refund/create_solicitation.js' %}"></script>
{% endblock extra_head %}


{% block content %}
    <form action='{{ action_url }}' enctype="multipart/form-data" method='post'>
      {% csrf_token %}
      
      {{form.as_p}}

      <table>
        {{formset}}
      </table>

      <button id='add_item' type="button">+</button>
      <button id='remove_last' type="button">-</button>
      <button type='submit'>{% translate 'Send' %}</button>
    </form>

    <div style='display:none' id ='empty_form'>
      <table>
        {{ formset.empty_form }}
      </table>
    </div>
{% endblock content %}