{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h2>{% trans 'Refund requests waiting payment'%}</h2>
    {%if refundbundle_list %}
    <table>
      <thead>
        <tr>
          <td>{% trans 'Name' %}</td>
          <td>{% trans 'Price' %}</td>
          <td>{% trans 'State' %}</td>
          <td>{% trans 'Accept new solicitations' %}</td>
        </tr>
      </thead>
      <tbody>
        {% for refundbundle in refundbundle_list %}
        <tr>
          <td> <a href="{% url refundbundle_page refundbundle.id %}">{{ refundbundle.user.first_name |title }}</a> </td>
          <td> R$ {{ refundbundle.price }}</td>
          <td> {{ refundbundle.get_state }} </td>
          <td> {{ refundbundle.accepting_solicitations }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>{% trans 'There are no payments waiting' %}</p>
    {% endif %}
{% endblock content %}