{% extends "base.html" %}
{% block content %}
    <h2>Pedidos de reembolso aguardando pagamento</h2>
    {%if refund_bundle_list %}
    <table>
      <thead>
        <tr>
          <td>Nome</td>
          <td>Preço</td>
          <td>Estado</td>
          <td>Aceita novas solicitações</td>
        </tr>
      </thead>
      <tbody>
        {% for refund_bundle in refund_bundle_list %}
        <tr>
          <td> <a href="/refund/refund_bundle_detail/{{refund_bundle.id}}">{{ refund_bundle.user.first_name |title }}</a> </td>
          <td> R$ {{ refund_bundle.price }}</td>
          <td> {{ refund_bundle.get_state }} </td>
          <td> {{ refund_bundle.accepting_solicitations }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>Não há pedidos de reembolsos</p>
    {% endif %}
{% endblock content %}