{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h2>{% trans 'Refund bundle detail' %}</h2>
    <div class="refund-content">
        <div class="refund-details">
            <div class="item-info">
                <label for="requester">{% trans 'Name' %}</label>
                <p id='requester'>{{ refund_bundle.user.first_name }} {{ refund_bundle.user.last_name }}</p>
            </div>
            <div class="item-info">
                <label for="requester">{% trans 'Price' %}</label>
                <p id='requester'>{{ refund_bundle.price }}</p>
            </div>

            <h4>{% trans 'Solicitations' %}</h4>
            <ul id='solicitations-list'>
            {% for solicitation in refund_bundle.solicitations.all %}
                <li>
                    <a href="
                      {% if solicitation_link %}
                          {% url 'refund:solicitation_detail' solicitation.id %}
                      {% endif %}">
                      {{ solicitation.name | title}}
                    </a> -- R$ {{solicitation.price}}
                </li>
            {% endfor %}
    </ul>
        </div>
    </div>
    {% comment %} <table>
        <thead>
        <tr>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Price' %}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ refund_bundle.user.first_name }} </td>
            <td> R$ {{ refund_bundle.price }} </td>
        </tr>
        </tbody>
    </table> {% endcomment %}
{% endblock content %}
  