{% extends "base.html" %}
{% block content %}
  <h2>Detalhe solicitação</h2>
  <table>
    <thead>
      <tr>
        <td>Nome</td>
        <td>Preço</td>
        <td>Data criação</td>
        <td>Última modificação</td>
        <td>Nota fiscal</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ solicitation.name }} </td>
        <td> R$ {{ solicitation.price }} </td>
        <td> {{ solicitation.created | date:"d/m/Y"}} </td>
        <td> {{ solicitation.updated | date:"d/m/Y"}} </td>
        <td> <img src="{{solicitation.claim_check.url}}" width='100' /> </td>
      </tr>
    </tbody>
  </table>
  <h4>Solicitation items</h4>
  <ul>
    {% for item in solicitation.items.all %}
      <li> {{ item.name | title}} -- R$ {{item.price}} -- {{item.accepted}}</li>
    {% endfor %}
  </ul>
  {% if perms.refund.change_solicitation and solicitation.state == 0 %}
    <a href="{% url 'refund:update_solicitation' solicitation.id %}"><button>Editar</button></a>
  {% endif %}
{% endblock content %}