{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h2>{% trans 'Solicitation detail' %}</h2>
  <table>
    <thead>
      <tr>
        <td>{% trans 'Name' %}</td>
        <td>{% trans 'Price' %}</td>
        <td>{% trans 'Creation date' %}</td>
        <td>{% trans 'Last modification' %}</td>
        <td>{% trans 'Claim check' %} </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ solicitation.name }} </td>
        <td> R$ {{ solicitation.price }} </td>
        <td> {{ solicitation.created | date:"d/m/Y"}} </td>
        <td> {{ solicitation.updated | date:"d/m/Y"}} </td>
        <td> <img src="{{solicitation.claim_check.url}}" width='100' /> </td>
      </tr>
    </tbody>
  </table>
  <h4>{% trans 'Solicitation items' %}</h4>
  <ul>
    {% for item in solicitation.items.all %}
      <li> {{ item.name | title}} -- R$ {{item.price}} -- {{item.accepted}}</li>
    {% endfor %}
  </ul>
  {% if perms.refund.change_solicitation and solicitation.state == 0 %}
    <a href="{% url 'refund:update_solicitation' solicitation.id %}"><button>{% trans 'Edit' %}</button></a>
  {% endif %}
{% endblock content %}