{% extends "base.html" %}
{% load i18n %}

{% block custom_extra_head %}
    {% load static %}
    <link rel='stylesheet' href="{% static 'refund/css/solicitation_detail.css' %}"/>
{% endblock custom_extra_head %}
{% block content %}
  <h2>{% trans 'Solicitation detail' %}</h2>
  <div class="solicitation-content">
    <div id='solicitation-info'>
      <div class="info-item">
          <label for='solicitation-name'>{% trans 'Name' %}:</label>
          <p id='solicitation-name'>{{ solicitation.name }}</p>
      </div>
      <div class="info-item">
          <label for='owner'>{% trans 'Requester' %}</label>
          <p id='owner'>{{ solicitation.user.first_name }} {{solicitation.user.last_name}}</p>
      </div>
      <div class="info-item">
          <label for='created'>{% trans 'Creation date' %}</label>
          <p id='created'>{{ solicitation.created }}</p>
      </div>
      <div class="info-item">
          <label for='updated'>{% trans 'Last modification' %}</label>
          <p id='updated'>{{ solicitation.updated }}</p>
      </div>

      <h4>{% trans 'Solicitation items' %}</h4>
      <ul id='solicitation-items-list'>
        {% for item in solicitation.items.all %}
          <li
          class='{% if item.accepted is True %} green {% elif item.accepted is False %} red {% endif %}'>
            <b>{{ item.name |title}}</b> -- {% trans 'US$' %} {{item.price}}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="image-container">
        <img src="{{solicitation.claim_check.url}}" alt="nota fiscal" class="img_preview"/>
    </div>
  </div>
  {% if perms.refund.change_solicitation and solicitation.state == 0 %}
    <a href="{% url 'refund:update_solicitation' solicitation.id %}">
      <button>{% trans 'Edit' %}</button>
    </a>
  {% endif %}
{% endblock content %}