{% extends "adminlte/base.html" %}
{% block title %} Refund Me {% endblock title %}
{% block extra_head %}
    {% load static%}
    {% comment %} <link rel='icon' href="{% static 'images/favicon/' %}"/> {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png'%}/">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png'%}/">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png'%}/">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    {% block custom_extra_head %}{% endblock custom_extra_head %}
{% endblock extra_head %}

{% block skin_class %}
    skin-green
{% endblock skin_class %}
